header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

.search-bar button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.search-bar button:hover {
    background-color: #218838;
}


.filter-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-bar select {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-bar button {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.filter-bar button:hover {
    background-color: #e0a800;
}
